body{
    margin: 0;
    padding: 0;
    
}

#top{
    display: flex;
    height: 12vh;
    align-items: center;
    background-color: #F5F7FA;
}

#navbar{
    display: flex;
    
    justify-content: right;
    align-items: center;
    height: 6vh;
}

#img{
    display: flex;
    
    margin-right: 40vh;
}

#central-options{
    display: flex;
    margin-right: 19vh;
    width: 62vh;
    gap: 50px;
    height: 5vh;
    align-items: center;
    text-shadow: 4px solid black;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}




#log-sign{
    display: flex;
    gap: 20px;
    margin-right: 15vh;
    width: 15vh;
    justify-content: space-around;
    align-items: center;
}

#hover-sing{
    display: flex;
    background-color: #4caf4f;
    width: 7vh;
    height: 3.3vh;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
}
#hover-sing:hover{
    background-color: #1f4921;
    color: rgb(0, 255, 34);
    transition: 0.8s;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.219);
    font-size: large;
}

#container-main{
    background-color: #F5F7FA;
    height: 69vh;
    display: flex;
    position: relative;
}

#main-view{
    display: flex;
    position: relative;
    
    width: 140vh;
    margin-left: 28vh;
    height: 59vh;
    margin-top: 10vh;
    justify-content: space-between;
}

#big-text{
    
    position: relative;
    height: 35vh;
    width: 85vh;
    margin-left: 5vh;
    margin-top: 15vh;
}

#big-text-inside{
    
    font-size: 8vh;
    line-height: 5px;
    margin-top: 1vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}

#down-text{
    color: #4caf4f;
}

#paragraph{
    font-weight: 400;
    font-size: 1.9vh;
}

#boton-main{
    width: 15vh;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    background-color: #4caf4f;
    color: white;
    border-radius: 4px;
}

#boton-main:hover{
    background-color: #1f4921;
    color: rgb(0, 255, 34);
    transition: 0.8s;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.219);
    font-size: large;
}




#pc-image{
    display: flex;
    background-color: rgba(0, 0, 0, 0.322);
    height: 50vh;
    align-items: center;
    margin-top: 5vh;
}



#aliados{
    
    display: flex;
}

#texto-general{
    
    height: 30vh;
    width: 140vh;
    margin-left: 28vh;
    justify-content: center;
}

#top-text{
    display: flex;
    justify-content: center;
    
    font-size: 4vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;

}

#lower-text{
    display: flex;
    margin-top: -4vh;
    justify-content: center;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

#img-clients{
    display: flex;
    
}


#manejo{
    display: flex;
    
    height: 15vh;
    justify-content: center;
}




#manage-text{
    
    display: flex;
    font-size: xx-large;
    margin-left: 30vh;
}   
#p-manage{
    
    display: flex;
    justify-content: center;
    margin-top: -3vh;
}
#alinear-img{
    display: flex;
    justify-content: center;
}

#imagenes{
    
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    gap: 100px;
    height: 30vh;
    width: 140vh;
}

#info-unseen{
    display: flex;
    height: 70vh;
}


#img-user{
    
    display: grid 6fr;
    width: 50vh;
    margin-left: 33vh;
    height: 45vh;
    margin-top: 15vh;
}

#sub-title{
    display: grid;
    
    margin-top: 15vh;
    margin-left: 15vh;
    font-size: 2.5vh;
    width: 60vh;
    height: 45vh;
}

#p-unseen{
    font-size: smaller;
    margin-top: -4vh;
    width: 80vh;
}

#b-unseen{
    border: none;
    background-color: #4caf4f;
    color: white;
    border-radius: 5px;
    width: 15vh;
    height: 5vh;
    margin-top: -5vh;
}

#b-unseen:hover{
    border: none;
    background-color: #1f4921;
    color: rgb(0, 255, 34);
    transition: 0.8s;
    height: 5.5vh;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.219);
    font-size: large;
}

#stats{
    display: flex;
    background-color: #F5F7FA;
    justify-content: space-around;
    height: 25vh;
    align-items: center;
}

#helping{
    font-size: xx-large;
    color: #4caf4f;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

#reached{
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}


#info-phone{
    display: flex;
    height: 70vh;
}


#img-phone{
    
    display: grid 6fr;
    width: 50vh;
    margin-left: 33vh;
    height: 45vh;
    margin-top: 15vh;
}

#sub-title{
    display: grid;
    
    margin-top: 15vh;
    margin-left: 15vh;
    font-size: 2.5vh;
    width: 60vh;
    height: 45vh;
}

#p-phone{
    font-size: smaller;
    margin-top: -4vh;
    width: 80vh;
}

#b-phone{
    border: none;
    background-color: #4caf4f;
    color: white;
    border-radius: 5px;
    width: 15vh;
    height: 5vh;
    margin-top: -5vh;
    
}

#b-phone:hover{
    border: none;
    background-color: #1f4921;
    color: rgb(0, 255, 34);
    transition: 0.8s;
    height: 5.5vh;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.219);
    font-size: large;
}






#info-tesla{
    display: flex;
    height: 70vh;
    background-color: #F5F7FA;
}


#img-tesla{
    
    display: grid 6fr;
    width: 50vh;
    margin-left: 33vh;
    height: 45vh;
    margin-top: 15vh;
}

#sub-title{
    display: grid;
    
    margin-top: 15vh;
    margin-left: 15vh;
    font-size: 2.5vh;
    width: 60vh;
    height: 45vh;
}

#p-tesla{
    font-size: smaller;
    margin-top: -4vh;
    width: 80vh;
}

#tim-smith{
    color: #4caf4f;
    margin-top: -1vh;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;

}

#p-tim{
    font-size: 2vh;
    margin-top: -6vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    color: rgba(0, 0, 0, 0.61);
}

#container-tim{
    background-color: #1f49214b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#b-tim{
    display: flex;
    height: 70%;
    align-items: center;
    width: 20vh;
    background: none;
    border: none;
    font-size: 1.9vh;
    color: #4caf4f;
}



#grid{
    display: flex;
    
    height: 15vh;
    justify-content: center;
}




#grid-text{
    justify-content: center;
    display: flex;
    font-size: xx-large;
    margin-left: 30vh;
}   
#p-grid{
    
    display: flex;
    justify-content: center;
    margin-top: -3vh;
    margin-left: 25vh;
}
#alinear-img{
    display: flex;
    justify-content: center;
}

#imagenes{
    
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    gap: 100px;
    height: 30vh;
    width: 140vh;
}

#buttons-grid{
    display: flex;
    margin: 0;
    padding: 0;
    
    
}

#button{
    display: flex;
    margin-top: -10vh;
    position: absolute;
    width: 120vh;
    gap: 60px;
    margin-left: 35vh;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}


#final-part{
    margin-top: 20vh;
    display: flex;
    background-color: #263238;
    justify-content: center;
    height: 70vh;
}


#down-part{
    margin: 0;
    padding: 0;    
}

#top-down{
    background-color: #F5F7FA;
    margin-bottom: 3vh;
}
#top-down h2{
    display: flex;
    font-size: 5vh;
    width: 55vh;
    justify-content: center;
}

#top-down button{
    margin-left: 45%;
    height: 5vh;
    width: 15vh;
    border: none;
    border-radius: 5px;
    background-color: #4caf4f;
}

#top-down button:hover{
    border: none;
    background-color: #1f4921;
    color: rgb(0, 255, 34);
    transition: 0.8s;
    height: 5.5vh;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.219);
    font-size: large;
}

#sub-f{
    font-size: xx-large;
    margin-left: 65vh;
}

#footer{
    
    display: flex;
    margin-left: 2vh;
}

ul{
    list-style: none;
}
input{
    border: none;
    height: 3vh;
    border-radius: 5px;
}

#nexcent-info{
    line-height: 2vh;
    color: white;
}

#company-info{
    color: white;
}

#support-info{
    color: white;
}


#stay-info{
    color: white;
}